.home_cover {
  height: 600px;
  background-image: url(../public/images/banner-7.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home_products {
  margin-top: 30px;
}
.foodKinds {
  text-align: center;
}
.foodparagraph {
  color: gray;
}
.bestSeller {
  text-align: center;
  margin-top: 70px;
}
.advertise {
  height: 250px;
  background-image: url(../public/images/banner-7.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}
.soldProducts {
  text-align: center;
  margin-top: 70px;
}
